* {
  margin: 0;
  padding: 0;
}
#bg-image {
  background: rgb(0, 128, 128); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    teal,
    teal,
    rgb(1, 26, 26)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    teal,
    teal,
    rgb(1, 26, 26)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-size: cover;
}

body {
  font-family: "Cherry Cream Soda", Arial, Helvetica, sans-serif;
  color:white;
  overflow-wrap: break-word;
}

#main {
  text-align: center;
  width: 80vw;
  top: 30%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;

  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
  grid-template-rows: auto;
  justify-items: center;
  column-gap: 10px;
  row-gap: 15px;
  padding: 10px;
  border-radius: 10px;
  grid-template-areas:
    "header header header header header header header"
    "main1 main2 main3 main4 main5 main6 main7"
    "footer footer footer footer footer footer footer";
}


main h1 h2 {
  text-align: center;
  padding: 20px;
  color: #00bcd4;
  font-size: 2.2em;
}

#header {
  grid-area: header;
  margin: auto;
  justify-self: center;
}

#dag1 {
  grid-area: main1;
  justify-self: stretch;
}
#dag2 {
  grid-area: main2;
  justify-self: stretch;
}
#dag3 {
  grid-area: main3;
  justify-self: stretch;
}
#dag4 {
  grid-area: main4;
  justify-self: stretch;
}
#dag5 {
  grid-area: main5;
  justify-self: stretch;
}
#dag6 {
  grid-area: main6;
  justify-self: stretch;
}
#dag7 {
  grid-area: main7;
  justify-self: stretch;
}

#buttonandform {
  grid-area: footer;
  justify-self: stretch;
}

#newloggform {
    width: 200px;
    padding: 30px;
    background-color:rgb(5, 83, 83);
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    position:absolute;
    top: 300%;
    left: 40%;
  }

  #newloggform label {
    color: #e6e6e6;
    padding: 8px;
  }

  
  #newlogg {
    margin: 5px;
    padding: 15px;
    background-color:rgb(7, 190, 190);
    border-radius: 25px;
    border: 1px solid #e6e6e6;
    color: #e6e6e6;
    font-size: 1em;
    outline: none;
  }

  
 